body {
    background-color: #f7efef;
}


#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    height: 100%;
    border: double;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar>ul>li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
   
}

#navbar>ul {
    height: 88%;
    padding: 0;
    font-size: 30px;
    overflow-x: auto;
    margin-bottom: 30vh;

}

#main-doc {

    margin-left: 320px;
    margin-bottom: 110px;

}

.star {
    background-color: aliceblue;
    border-radius: 100px;
    margin-right: 10px;
    color: black;
    padding-left: 8px;

}

header>h2 {
    font-size: 25px;
    color: aliceblue;
    padding: 15px;

}

header {
    width: 100%;
    background-color: #643843;
    font-size: 1.8em;
    font-weight: thin;
    font-family: cursive;
}

header>h1 {
    color: aliceblue;
    padding: 8px;
    text-align: center;
    font-size: 22px;

}

p {
    font-size: 20px;
    font-weight: 200px;
}


a {
    text-decoration: none;
    font-size: 30px;
    color: #643843;
    font-style: oblique;

}

code {
    display: block;
    text-align: left;
    background-color: #e7d9d9;
    padding: 20px;
    margin: 10px;
    line-height: 1.9;
    font-size: 18px;
}

@media screen and (max-width: 800px) {

    #navbar ul {
        border: 1px solid;
        height: 170px;
    }

    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        width: 100%;
        max-height: 20px;

    }

    #main-doc {
        position: relative;
        margin-top: 300px;
        margin-left: 0px;
    }
}